language: cpp
os: linux
dist: focal
jobs:
  include:
    - os: linux
      compiler: gcc
      before_install: 
       - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 1E9377A2BA9EF27F
       - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
       - sudo apt-get -y update
       - sudo apt install -y gcc-11 g++-11 lcov cmake
      env:
         - MATRIX_EVAL="CC=gcc-11 && CXX=g++-11"
      script: VERBOSE=1 make && ctest -V --build-run-dir ./build
    - os: linux
      compiler: clang
      before_install:
        - wget -O /tmp/repo.key https://apt.llvm.org/llvm-snapshot.gpg.key
        - sudo apt-key add /tmp/repo.key
        - sudo add-apt-repository "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-13 main"
        - sudo apt-get -y update
        - sudo apt-get -y install clang-13 clang-tools-13 libclang-common-13-dev libclang-13-dev libclang1-13 clang-format-13 libc++-13-dev libc++abi-13-dev lld-13 libunwind-13-dev libfuzzer-13-dev lcov
        - eval "${MATRIX_EVAL}"
      env:
        - MATRIX_EVAL="CC=clang-13 && CXX=clang++-13"
      script: VERBOSE=1 make build-clang && ctest -V --build-run-dir ./build

before_install:
    - eval "${MATRIX_EVAL}"

addons:
  apt:
    packages: lcov

after_success:
# Create lcov report
- lcov --capture --directory ./build --output-file coverage.info
- lcov --remove coverage.info '/usr/*' --output-file coverage.info # filter system-files
- lcov --list coverage.info # debug info